{
    "printWidth": 120,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "semi": true,
    "endOfLine": "lf",
    "bracketSpacing": true,
    "bracketSameLine": false
}
